<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление тикета</title>
</head>
<body>
<h2>Обновление тикета</h2>

<!-- название, статус, описание-->

<form method="post"
      th:action="@{/{id}/edit (id=${ticket.getId()})}"
      th:object="${ticket}">

    <label for="name">Название: </label>
    <input type="text"
           th:field="*{name}"
           th:value="${ticket.getName()}"
           id="name">
    <div style="color: red"
         th:if="${#fields.hasErrors('name')}"
         th:errors="*{name}">name error</div>

    <br>

    <label for="description">Описание: </label>
    <input type="text"
           th:field="*{description}"
           th:value="${ticket.getDescription()}"
           id="description">
    <div style="color: red"
         th:if="${#fields.hasErrors('description')}"
         th:errors="*{description}">description error</div>

    <br>

    <label for="status">Статус: </label>
    <select th:field="*{status}" id="status">
        <option th:value="'new'"
                th:text="'new'"></option>
        <option th:value="'progress'"
                th:text="'progress'"></option>
        <option th:value="'done'"
                th:text="'done'"></option>
    </select>

    <br>

    <input type="submit" value="Изменить">
</form>

<br>

<a th:href="@{/{id} (id=${ticket.getId()})}">Назад</a>

<br><br>

<a th:href="@{/}">На главную</a>
</body>
</html>